{% extends "inicio.html" %}
<main>
    {% block principal %}
    {% load bootstrap5 %}
    <div class="container">
        <h1 class="mt-5 mb-3">Entre em Contato</h1>
        {% if sucesso %}
        <p class="alert alert-succes1s" role="alert"> Mensagem enviada com sucesso!</p>

        {% else %}
        <p class="mb-3">
            Entre em contato com o responsavel: <strong>{{nome|upper}}-{{telefone}}</strong>
        </p>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form formulario %}
            <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
        </form>
        {% endif %}
    </div>
    {% endblock %}
</main>