{% extends "inicio.html" %}
<main>
    {% block principal %}
    {% load bootstrap5 %}
    <div class="container">
        <h1 class="mt-5 mb-3">Reserve o banho pro seu pet</h1>
        {% if sucesso %}
        <p class="alert alert-success" role="alert">Agendamento feito com Sucesso!</p>

        {% else %}
        <p class="mb-3">
            Faça uma reserva ou entre em contato com o responsavel: <strong>{{nome|upper}}-{{telefone}}</strong>
        </p>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form formulario %}
            <button type="submit" class="btn btn-primary">Reservar</button>
        </form>
        {% endif %}
    </div>
    {% endblock %}
</main>